<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>space</string>
			<string>nbspace</string>
			<string>period</string>
			<string>colon</string>
			<string>ellipsis</string>
			<string>exclam</string>
			<string>asterisk</string>
			<string>numbersign</string>
			<string>slash</string>
			<string>backslash</string>
			<string>hyphen</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>guillemetleft</string>
			<string>guillemetright</string>
			<string>quotedbl</string>
			<string>quotesingle</string>
			<string>bar</string>
			<string>plus</string>
			<string>multiply</string>
			<string>divide</string>
			<string>equal</string>
			<string>greater</string>
			<string>less</string>
			<string>percent</string>
			<string>dieresiscomb</string>
			<string>gravecomb</string>
			<string>acutecomb</string>
			<string>hungarumlautcomb</string>
			<string>macroncomb</string>
			<string>dotaccent</string>
			<string>degree</string>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Atilde</string>
			<string>AE</string>
			<string>B</string>
			<string>C</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>Cdotaccent</string>
			<string>D</string>
			<string>Eth</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>F</string>
			<string>G</string>
			<string>Gbreve</string>
			<string>Gcommaaccent</string>
			<string>Gdotaccent</string>
			<string>H</string>
			<string>Hbar</string>
			<string>I</string>
			<string>IJ</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
			<string>Igrave</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>J</string>
			<string>K</string>
			<string>Kcommaaccent</string>
			<string>L</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Lcommaaccent</string>
			<string>Lslash</string>
			<string>M</string>
			<string>N</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ncommaaccent</string>
			<string>Ntilde</string>
			<string>Eng</string>
			<string>O</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Ohungarumlaut</string>
			<string>Omacron</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>OE</string>
			<string>P</string>
			<string>Thorn</string>
			<string>Q</string>
			<string>R</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcommaaccent</string>
			<string>S</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scommaaccent</string>
			<string>Germandbls</string>
			<string>T</string>
			<string>Tcaron</string>
			<string>Tcommaaccent</string>
			<string>U</string>
			<string>Uacute</string>
			<string>Ubreve</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>Uhungarumlaut</string>
			<string>Umacron</string>
			<string>Uogonek</string>
			<string>Uring</string>
			<string>V</string>
			<string>W</string>
			<string>Wacute</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
			<string>Wgrave</string>
			<string>X</string>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ygrave</string>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>aogonek</string>
			<string>aring</string>
			<string>atilde</string>
			<string>ae</string>
			<string>b</string>
			<string>c</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>ccedilla</string>
			<string>cdotaccent</string>
			<string>d</string>
			<string>eth</string>
			<string>dcaron</string>
			<string>dcroat</string>
			<string>e</string>
			<string>eacute</string>
			<string>ecaron</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>edotaccent</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>f</string>
			<string>g</string>
			<string>gbreve</string>
			<string>gcommaaccent</string>
			<string>gdotaccent</string>
			<string>h</string>
			<string>hbar</string>
			<string>i</string>
			<string>idotless</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>idotaccent</string>
			<string>igrave</string>
			<string>ij</string>
			<string>imacron</string>
			<string>iogonek</string>
			<string>j</string>
			<string>jdotless</string>
			<string>k</string>
			<string>kcommaaccent</string>
			<string>l</string>
			<string>lacute</string>
			<string>lcaron</string>
			<string>lcommaaccent</string>
			<string>lslash</string>
			<string>m</string>
			<string>n</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>ncommaaccent</string>
			<string>ntilde</string>
			<string>eng</string>
			<string>o</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>ograve</string>
			<string>ohungarumlaut</string>
			<string>omacron</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>oe</string>
			<string>p</string>
			<string>thorn</string>
			<string>q</string>
			<string>r</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>rcommaaccent</string>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scommaaccent</string>
			<string>germandbls</string>
			<string>t</string>
			<string>tcaron</string>
			<string>tcommaaccent</string>
			<string>u</string>
			<string>uacute</string>
			<string>ubreve</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
			<string>uhungarumlaut</string>
			<string>umacron</string>
			<string>uogonek</string>
			<string>uring</string>
			<string>v</string>
			<string>w</string>
			<string>wacute</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
			<string>wgrave</string>
			<string>x</string>
			<string>y</string>
			<string>yacute</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
			<string>ygrave</string>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
			<string>.notdef</string>
			<string>comma</string>
			<string>semicolon</string>
			<string>exclamdown</string>
			<string>question</string>
			<string>questiondown</string>
			<string>periodcentered</string>
			<string>bullet</string>
			<string>periodcentered.loclCAT</string>
			<string>periodcentered.loclCAT.case</string>
			<string>endash</string>
			<string>emdash</string>
			<string>underscore</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>guilsinglleft</string>
			<string>guilsinglright</string>
			<string>at</string>
			<string>ampersand</string>
			<string>paragraph</string>
			<string>section</string>
			<string>copyright</string>
			<string>registered</string>
			<string>trademark</string>
			<string>cent</string>
			<string>dollar</string>
			<string>euro</string>
			<string>sterling</string>
			<string>yen</string>
			<string>minus</string>
			<string>asciitilde</string>
			<string>asciicircum</string>
			<string>dotaccentcomb</string>
			<string>caroncomb.alt</string>
			<string>circumflexcomb</string>
			<string>caroncomb</string>
			<string>brevecomb</string>
			<string>ringcomb</string>
			<string>tildecomb</string>
			<string>commaturnedabovecomb</string>
			<string>commaaccentcomb</string>
			<string>cedillacomb</string>
			<string>ogonekcomb</string>
			<string>dieresis</string>
			<string>grave</string>
			<string>acute</string>
			<string>hungarumlaut</string>
			<string>circumflex</string>
			<string>caron</string>
			<string>breve</string>
			<string>ring</string>
			<string>tilde</string>
			<string>macron</string>
			<string>cedilla</string>
			<string>ogonek</string>
		</array>
		<key>name</key>
		<string>GF_Latin_Core</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>hamza-ar</string>
			<string>alef-ar</string>
			<string>alefHamzaabove-ar</string>
			<string>alefHamzabelow-ar</string>
			<string>alefMadda-ar</string>
			<string>beh-ar</string>
			<string>peh-ar</string>
			<string>teh-ar</string>
			<string>theh-ar</string>
			<string>tteh-ar</string>
			<string>jeem-ar</string>
			<string>tcheh-ar</string>
			<string>hah-ar</string>
			<string>khah-ar</string>
			<string>dal-ar</string>
			<string>thal-ar</string>
			<string>ddal-ar</string>
			<string>reh-ar</string>
			<string>zain-ar</string>
			<string>rreh-ar</string>
			<string>seen-ar</string>
			<string>sheen-ar</string>
			<string>sad-ar</string>
			<string>dad-ar</string>
			<string>tah-ar</string>
			<string>zah-ar</string>
			<string>ain-ar</string>
			<string>ghain-ar</string>
			<string>feh-ar</string>
			<string>veh-ar</string>
			<string>fehDotmovedbelow-ar</string>
			<string>fehThreedotsbelow-ar</string>
			<string>qaf-ar</string>
			<string>qafDotabove-ar</string>
			<string>qafThreedotsabove-ar</string>
			<string>kaf-ar</string>
			<string>keheh-ar</string>
			<string>kehehThreedotsabove-ar</string>
			<string>gaf-ar</string>
			<string>ng-ar</string>
			<string>lam-ar</string>
			<string>meem-ar</string>
			<string>noon-ar</string>
			<string>noonghunna-ar</string>
			<string>heh-ar</string>
			<string>hehHamzaabove-ar</string>
			<string>hehgoal-ar</string>
			<string>hehgoalHamzaabove-ar</string>
			<string>hehDoachashmee-ar</string>
			<string>tehMarbuta-ar</string>
			<string>tehMarbutagoal-ar</string>
			<string>waw-ar</string>
			<string>wawHamzaabove-ar</string>
			<string>alefMaksura-ar</string>
			<string>yeh-ar</string>
			<string>yehHamzaabove-ar</string>
			<string>yehFarsi-ar</string>
			<string>yehbarree-ar</string>
			<string>yehbarreeHamzaabove-ar</string>
			<string>ae-ar</string>
			<string>kashida-ar</string>
			<string>decimalseparator-ar</string>
			<string>thousandseparator-ar</string>
			<string>zero-ar</string>
			<string>one-ar</string>
			<string>two-ar</string>
			<string>three-ar</string>
			<string>four-ar</string>
			<string>five-ar</string>
			<string>six-ar</string>
			<string>seven-ar</string>
			<string>eight-ar</string>
			<string>nine-ar</string>
			<string>zeroFarsi-ar</string>
			<string>oneFarsi-ar</string>
			<string>twoFarsi-ar</string>
			<string>threeFarsi-ar</string>
			<string>fourFarsi-ar</string>
			<string>fiveFarsi-ar</string>
			<string>sixFarsi-ar</string>
			<string>sevenFarsi-ar</string>
			<string>eightFarsi-ar</string>
			<string>nineFarsi-ar</string>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>space</string>
			<string>nbspace</string>
			<string>fullstop-ar</string>
			<string>comma-ar</string>
			<string>semicolon-ar</string>
			<string>question-ar</string>
			<string>asterisk-ar</string>
			<string>period</string>
			<string>colon</string>
			<string>ellipsis</string>
			<string>exclam</string>
			<string>asterisk</string>
			<string>numbersign</string>
			<string>slash</string>
			<string>backslash</string>
			<string>hyphen</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>guillemetleft</string>
			<string>guillemetright</string>
			<string>quotedbl</string>
			<string>quotesingle</string>
			<string>percent-ar</string>
			<string>bar</string>
			<string>plus</string>
			<string>multiply</string>
			<string>divide</string>
			<string>equal</string>
			<string>greater</string>
			<string>less</string>
			<string>percent</string>
			<string>hamzaabove-ar</string>
			<string>hamzabelow-ar</string>
			<string>fathatan-ar</string>
			<string>dammatan-ar</string>
			<string>kasratan-ar</string>
			<string>fatha-ar</string>
			<string>damma-ar</string>
			<string>kasra-ar</string>
			<string>shadda-ar</string>
			<string>sukun-ar</string>
			<string>madda-ar</string>
			<string>uni069COVE</string>
		</array>
		<key>name</key>
		<string>GF_Arabic_Core</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>highhamza-ar</string>
			<string>beeh-ar</string>
			<string>beheh-ar</string>
			<string>tehRing-ar</string>
			<string>tehThreedotsdown-ar</string>
			<string>tteheh-ar</string>
			<string>teheh-ar</string>
			<string>tcheheh-ar</string>
			<string>nyeh-ar</string>
			<string>dyeh-ar</string>
			<string>hahHamzaabove-ar</string>
			<string>hahThreedotsabove-ar</string>
			<string>dahal-ar</string>
			<string>ddahal-ar</string>
			<string>dalRing-ar</string>
			<string>dalDotbelow-ar</string>
			<string>dalThreedotsdown-ar</string>
			<string>rehRing-ar</string>
			<string>rehVbelow-ar</string>
			<string>rehDotbelowdotabove-ar</string>
			<string>rehFourdots-ar</string>
			<string>seenDotbelowDotabove-ar</string>
			<string>sheenThreedotsbelow-ar</string>
			<string>ainThreedots-ar</string>
			<string>peheh-ar</string>
			<string>kehehDotabove-ar</string>
			<string>kafswash-ar</string>
			<string>kafRing-ar</string>
			<string>ngoeh-ar</string>
			<string>gueh-ar</string>
			<string>lamVabove-ar</string>
			<string>rnoon-ar</string>
			<string>noonRing-ar</string>
			<string>noonThreedotsabove-ar</string>
			<string>wawDotabove-ar</string>
			<string>oe-ar</string>
			<string>u-ar</string>
			<string>yu-ar</string>
			<string>ve-ar</string>
			<string>yehVabove-ar</string>
			<string>yehTail-ar</string>
			<string>e-ar</string>
			<string>fathaHorizont-ar</string>
		</array>
		<key>name</key>
		<string>GF_Arabic_Plus</string>
	</dict>
</array>
</plist>
