<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>space</string>
			<string>nbspace</string>
			<string>period</string>
			<string>colon</string>
			<string>ellipsis</string>
			<string>exclam</string>
			<string>asterisk</string>
			<string>numbersign</string>
			<string>slash</string>
			<string>backslash</string>
			<string>hyphen</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotedbl</string>
			<string>quotesingle</string>
			<string>bar</string>
			<string>plus</string>
			<string>multiply</string>
			<string>divide</string>
			<string>equal</string>
			<string>greater</string>
			<string>less</string>
			<string>percent</string>
			<string>degree</string>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>.notdef</string>
			<string>comma</string>
			<string>semicolon</string>
			<string>question</string>
			<string>periodcentered</string>
			<string>bullet</string>
			<string>endash</string>
			<string>emdash</string>
			<string>underscore</string>
			<string>at</string>
			<string>ampersand</string>
			<string>copyright</string>
			<string>registered</string>
			<string>trademark</string>
			<string>cent</string>
			<string>dollar</string>
			<string>euro</string>
			<string>sterling</string>
			<string>yen</string>
			<string>minus</string>
			<string>asciitilde</string>
			<string>asciicircum</string>
			<string>grave</string>
		</array>
		<key>name</key>
		<string>GF_Latin_Kernel</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>apostrophemod</string>
			<string>dotbelowcomb</string>
			<string>Ddotbelow</string>
			<string>Dmacronbelow</string>
			<string>Gcaron</string>
			<string>Gmacron</string>
			<string>Hbrevebelow</string>
			<string>Hdotbelow</string>
			<string>Kmacronbelow</string>
			<string>Sdotbelow</string>
			<string>Tdotbelow</string>
			<string>Tmacronbelow</string>
			<string>Ymacron</string>
			<string>Zdotbelow</string>
			<string>ddotbelow</string>
			<string>dmacronbelow</string>
			<string>gcaron</string>
			<string>gmacron</string>
			<string>hbrevebelow</string>
			<string>hdotbelow</string>
			<string>kmacronbelow</string>
			<string>sdotbelow</string>
			<string>tdotbelow</string>
			<string>tmacronbelow</string>
			<string>ymacron</string>
			<string>zdotbelow</string>
			<string>macronbelowcomb</string>
			<string>ringhalfleft</string>
			<string>ringhalfright</string>
			<string>hmacronbelow</string>
			<string>tdieresis</string>
			<string>brevebelowcomb</string>
			<string>commareversedmod</string>
		</array>
		<key>name</key>
		<string>GF_TransLatin_Arabic</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>dieresiscomb</string>
			<string>gravecomb</string>
			<string>acutecomb</string>
			<string>macroncomb</string>
			<string>apostrophemod</string>
			<string>Acaron</string>
			<string>Icaron</string>
			<string>Macute</string>
			<string>Ngrave</string>
			<string>Ocaron</string>
			<string>Ucaron</string>
			<string>Udieresisacute</string>
			<string>Udieresiscaron</string>
			<string>Udieresisgrave</string>
			<string>Udieresismacron</string>
			<string>acaron</string>
			<string>icaron</string>
			<string>macute</string>
			<string>ngrave</string>
			<string>ocaron</string>
			<string>ucaron</string>
			<string>udieresisacute</string>
			<string>udieresiscaron</string>
			<string>udieresisgrave</string>
			<string>udieresismacron</string>
			<string>nmod</string>
			<string>verticallineabovecomb</string>
			<string>dotaboverightcomb</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acircumflex</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Eacute</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Igrave</string>
			<string>Imacron</string>
			<string>Nacute</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Ograve</string>
			<string>Omacron</string>
			<string>Uacute</string>
			<string>Ubreve</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>Umacron</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>acircumflex</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>eacute</string>
			<string>ecaron</string>
			<string>ecircumflex</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>igrave</string>
			<string>imacron</string>
			<string>ntilde</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>ograve</string>
			<string>omacron</string>
			<string>uacute</string>
			<string>ubreve</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
			<string>umacron</string>
			<string>circumflexcomb</string>
			<string>caroncomb</string>
			<string>brevecomb</string>
			<string>Nmod</string>
			<string>Ebreve</string>
			<string>Ibreve</string>
			<string>Obreve</string>
			<string>ebreve</string>
			<string>ibreve</string>
			<string>obreve</string>
			<string>gravecomb_dotaboverightcomb</string>
			<string>acutecomb_dotaboverightcomb</string>
			<string>circumflexcomb_dotaboverightcomb</string>
			<string>brevecomb_dotaboverightcomb</string>
			<string>macroncomb_dotaboverightcomb</string>
			<string>verticallineabovecomb_dotaboverightcomb</string>
		</array>
		<key>name</key>
		<string>GF_TransLatin_Pinyin</string>
	</dict>
</array>
</plist>
