<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>space</string>
			<string>nbspace</string>
			<string>period</string>
			<string>colon</string>
			<string>ellipsis</string>
			<string>exclam</string>
			<string>asterisk</string>
			<string>numbersign</string>
			<string>slash</string>
			<string>backslash</string>
			<string>hyphen</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>guillemetleft</string>
			<string>guillemetright</string>
			<string>quotedbl</string>
			<string>quotesingle</string>
			<string>bar</string>
			<string>plus</string>
			<string>multiply</string>
			<string>divide</string>
			<string>equal</string>
			<string>greater</string>
			<string>less</string>
			<string>percent</string>
			<string>dieresiscomb</string>
			<string>gravecomb</string>
			<string>acutecomb</string>
			<string>hungarumlautcomb</string>
			<string>macroncomb</string>
			<string>dotaccent</string>
			<string>degree</string>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Atilde</string>
			<string>AE</string>
			<string>B</string>
			<string>C</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>Cdotaccent</string>
			<string>D</string>
			<string>Eth</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>F</string>
			<string>G</string>
			<string>Gbreve</string>
			<string>Gcommaaccent</string>
			<string>Gdotaccent</string>
			<string>H</string>
			<string>Hbar</string>
			<string>I</string>
			<string>IJ</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
			<string>Igrave</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>J</string>
			<string>K</string>
			<string>Kcommaaccent</string>
			<string>L</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Lcommaaccent</string>
			<string>Lslash</string>
			<string>M</string>
			<string>N</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ncommaaccent</string>
			<string>Ntilde</string>
			<string>Eng</string>
			<string>O</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Ohungarumlaut</string>
			<string>Omacron</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>OE</string>
			<string>P</string>
			<string>Thorn</string>
			<string>Q</string>
			<string>R</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcommaaccent</string>
			<string>S</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scommaaccent</string>
			<string>Germandbls</string>
			<string>T</string>
			<string>Tcaron</string>
			<string>Tcommaaccent</string>
			<string>U</string>
			<string>Uacute</string>
			<string>Ubreve</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>Uhungarumlaut</string>
			<string>Umacron</string>
			<string>Uogonek</string>
			<string>Uring</string>
			<string>V</string>
			<string>W</string>
			<string>Wacute</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
			<string>Wgrave</string>
			<string>X</string>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Ygrave</string>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>acircumflex</string>
			<string>adieresis</string>
			<string>agrave</string>
			<string>amacron</string>
			<string>aogonek</string>
			<string>aring</string>
			<string>atilde</string>
			<string>ae</string>
			<string>b</string>
			<string>c</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>ccedilla</string>
			<string>cdotaccent</string>
			<string>d</string>
			<string>eth</string>
			<string>dcaron</string>
			<string>dcroat</string>
			<string>e</string>
			<string>eacute</string>
			<string>ecaron</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>edotaccent</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>f</string>
			<string>g</string>
			<string>gbreve</string>
			<string>gcommaaccent</string>
			<string>gdotaccent</string>
			<string>h</string>
			<string>hbar</string>
			<string>i</string>
			<string>idotless</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>idotaccent</string>
			<string>igrave</string>
			<string>ij</string>
			<string>imacron</string>
			<string>iogonek</string>
			<string>j</string>
			<string>jdotless</string>
			<string>k</string>
			<string>kcommaaccent</string>
			<string>l</string>
			<string>lacute</string>
			<string>lcaron</string>
			<string>lcommaaccent</string>
			<string>lslash</string>
			<string>m</string>
			<string>n</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>ncommaaccent</string>
			<string>ntilde</string>
			<string>eng</string>
			<string>o</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>ograve</string>
			<string>ohungarumlaut</string>
			<string>omacron</string>
			<string>oslash</string>
			<string>otilde</string>
			<string>oe</string>
			<string>p</string>
			<string>thorn</string>
			<string>q</string>
			<string>r</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>rcommaaccent</string>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scommaaccent</string>
			<string>germandbls</string>
			<string>t</string>
			<string>tcaron</string>
			<string>tcommaaccent</string>
			<string>u</string>
			<string>uacute</string>
			<string>ubreve</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>ugrave</string>
			<string>uhungarumlaut</string>
			<string>umacron</string>
			<string>uogonek</string>
			<string>uring</string>
			<string>v</string>
			<string>w</string>
			<string>wacute</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
			<string>wgrave</string>
			<string>x</string>
			<string>y</string>
			<string>yacute</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
			<string>ygrave</string>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
			<string>.notdef</string>
			<string>comma</string>
			<string>semicolon</string>
			<string>exclamdown</string>
			<string>question</string>
			<string>questiondown</string>
			<string>periodcentered</string>
			<string>bullet</string>
			<string>periodcentered.loclCAT</string>
			<string>periodcentered.loclCAT.case</string>
			<string>endash</string>
			<string>emdash</string>
			<string>underscore</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>guilsinglleft</string>
			<string>guilsinglright</string>
			<string>at</string>
			<string>ampersand</string>
			<string>paragraph</string>
			<string>section</string>
			<string>copyright</string>
			<string>registered</string>
			<string>trademark</string>
			<string>cent</string>
			<string>dollar</string>
			<string>euro</string>
			<string>sterling</string>
			<string>yen</string>
			<string>minus</string>
			<string>asciitilde</string>
			<string>asciicircum</string>
			<string>dotaccentcomb</string>
			<string>caroncomb.alt</string>
			<string>circumflexcomb</string>
			<string>caroncomb</string>
			<string>brevecomb</string>
			<string>ringcomb</string>
			<string>tildecomb</string>
			<string>commaturnedabovecomb</string>
			<string>commaaccentcomb</string>
			<string>cedillacomb</string>
			<string>ogonekcomb</string>
			<string>dieresis</string>
			<string>grave</string>
			<string>acute</string>
			<string>hungarumlaut</string>
			<string>circumflex</string>
			<string>caron</string>
			<string>breve</string>
			<string>ring</string>
			<string>tilde</string>
			<string>macron</string>
			<string>cedilla</string>
			<string>ogonek</string>
		</array>
		<key>name</key>
		<string>GF_Latin_Core</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>lambda</string>
			<string>phi</string>
			<string>Cstroke</string>
			<string>cstroke</string>
			<string>ezhcaron</string>
			<string>lambdastroke</string>
			<string>lbar</string>
			<string>odotaccent</string>
			<string>rdotbelow</string>
			<string>tcircumflexbelow</string>
			<string>wdotbelow</string>
			<string>xdotaccent</string>
			<string>colonmod</string>
			<string>commaabovecomb</string>
			<string>jcaron</string>
			<string>ymod</string>
			<string>thetamod</string>
			<string>lacute</string>
			<string>ogonekcomb</string>
			<string>Dsmall</string>
			<string>Ismallstroke</string>
			<string>Usmallstroke</string>
			<string>gmod</string>
		</array>
		<key>name</key>
		<string>GF_Phonetics_APA</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>exclam</string>
			<string>asterisk</string>
			<string>exclamdown</string>
			<string>Kturned</string>
			<string>Kturned.circled</string>
			<string>bidentalpercussive</string>
			<string>bilabialpercussive</string>
			<string>fengdigraph</string>
			<string>lretroflexhookandbelt</string>
			<string>lsdigraph</string>
			<string>lzdigraph</string>
			<string>rturnedmod</string>
			<string>smod</string>
			<string>fitalic-math</string>
			<string>pitalic-math</string>
			<string>fitalic-math.subs</string>
			<string>pitalic-math.subs</string>
			<string>fitalic-math.sups</string>
			<string>pitalic-math.sups</string>
			<string>Nmod</string>
			<string>schwamod</string>
			<string>parenleftinferior</string>
			<string>parenrightinferior</string>
			<string>unaspiratedmod</string>
			<string>voicingmod</string>
			<string>C.circled</string>
			<string>F.circled</string>
			<string>G.circled</string>
			<string>L.circled</string>
			<string>N.circled</string>
			<string>P.circled</string>
			<string>R.circled</string>
			<string>S.circled</string>
			<string>T.circled</string>
			<string>V.circled</string>
			<string>largeCircle</string>
			<string>gbridgeabovecomb</string>
			<string>equalbelowcomb</string>
			<string>leftanglebelowcomb</string>
			<string>nottildeabovecomb</string>
			<string>homotheticabovecomb</string>
			<string>almostequaltoabovecomb</string>
			<string>arrowleftrightbelowcomb</string>
			<string>arrowupbelowcomb</string>
			<string>arrowheadleftbelowcomb</string>
			<string>arrowheadrightbelowcomb</string>
			<string>arrowdoublerightbelowcomb</string>
			<string>parentabovecomb</string>
			<string>parentbelowcomb</string>
			<string>uni1AC1</string>
			<string>uni1AC2</string>
			<string>uni1AC3</string>
			<string>uni1AC4</string>
			<string>uniA7AF</string>
			<string>u10790</string>
			<string>u10799</string>
			<string>u1079A</string>
			<string>u1079C</string>
			<string>u1079D</string>
			<string>u1079F</string>
			<string>u107A1</string>
			<string>u107AA</string>
			<string>u1DF00</string>
			<string>u1DF01</string>
			<string>u1DF02</string>
			<string>u1DF03</string>
			<string>u1DF04</string>
			<string>u1DF05</string>
			<string>u1DF06</string>
			<string>u1DF07</string>
		</array>
		<key>name</key>
		<string>GF_Phonetics_DisorderedSpeech</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>chook</string>
			<string>khook</string>
			<string>phook</string>
			<string>thook</string>
			<string>dezh</string>
			<string>dzaltone</string>
			<string>dzcurl</string>
			<string>kturned</string>
			<string>qhook</string>
			<string>tccurl</string>
			<string>tesh</string>
			<string>ts</string>
			<string>retroflexhookcomb</string>
		</array>
		<key>name</key>
		<string>GF_Phonetics_IPAHistorical</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>period</string>
			<string>exclam</string>
			<string>bar</string>
			<string>dieresiscomb</string>
			<string>gravecomb</string>
			<string>acutecomb</string>
			<string>hungarumlautcomb</string>
			<string>macroncomb</string>
			<string>apostrophemod</string>
			<string>beta</string>
			<string>theta</string>
			<string>chi</string>
			<string>dblverticalbar</string>
			<string>undertie</string>
			<string>overlinecomb</string>
			<string>doublebrevebelowcomb</string>
			<string>Ismall</string>
			<string>alpha-latin</string>
			<string>beta-latin</string>
			<string>bhook</string>
			<string>bilabialclick</string>
			<string>chi-latin</string>
			<string>dhook</string>
			<string>dtail</string>
			<string>edblgrave</string>
			<string>eopen</string>
			<string>esh</string>
			<string>schwa</string>
			<string>ezh</string>
			<string>gamma-latin</string>
			<string>ghook</string>
			<string>glottalstop</string>
			<string>glottalstopreversed</string>
			<string>hhook</string>
			<string>hturned</string>
			<string>istroke</string>
			<string>jcrossedtail</string>
			<string>lbelt</string>
			<string>lmiddletilde</string>
			<string>mturned</string>
			<string>nhookleft</string>
			<string>obarred</string>
			<string>oopen</string>
			<string>rfishhook</string>
			<string>rtail</string>
			<string>tretroflexhook</string>
			<string>ubar</string>
			<string>upsilon-latin</string>
			<string>vhook</string>
			<string>vturned</string>
			<string>hmod</string>
			<string>nmod</string>
			<string>wmod</string>
			<string>clickalveolar</string>
			<string>clickdental</string>
			<string>clicklateral</string>
			<string>clickretroflex</string>
			<string>dblgravecomb</string>
			<string>ringbelowcomb</string>
			<string>verticallinebelowcomb</string>
			<string>breveinvertedbelowcomb</string>
			<string>tildebelowcomb</string>
			<string>lowlinecomb</string>
			<string>tildeoverlaycomb</string>
			<string>acutemacroncomb</string>
			<string>gravemacroncomb</string>
			<string>macronacutecomb</string>
			<string>macrongravecomb</string>
			<string>verticallinemod</string>
			<string>ae</string>
			<string>ccedilla</string>
			<string>eth</string>
			<string>hbar</string>
			<string>eng</string>
			<string>oslash</string>
			<string>oe</string>
			<string>circumflexcomb</string>
			<string>caroncomb</string>
			<string>brevecomb</string>
			<string>ringcomb</string>
			<string>tildecomb</string>
			<string>Bsmall</string>
			<string>Gsmall</string>
			<string>Gsmallhook</string>
			<string>Hsmall</string>
			<string>Lsmall</string>
			<string>Nsmall</string>
			<string>OEsmall</string>
			<string>Rsmall</string>
			<string>Rsmallinverted</string>
			<string>Ysmall</string>
			<string>alphaturned-latin</string>
			<string>aturned</string>
			<string>bmiddletilde</string>
			<string>ccurl</string>
			<string>dmiddletilde</string>
			<string>eopenreversed</string>
			<string>eopenreversedclosed</string>
			<string>eopenreversedhook</string>
			<string>ereversed</string>
			<string>schwahook</string>
			<string>fmiddletilde</string>
			<string>glottalstopstroke</string>
			<string>glottalstopstrokereversed</string>
			<string>gsingle</string>
			<string>henghook</string>
			<string>jdotlessstroke</string>
			<string>jdotlessstrokehook</string>
			<string>lezh</string>
			<string>lhookretroflex</string>
			<string>mhook</string>
			<string>mlonglegturned</string>
			<string>mmiddletilde</string>
			<string>nhookretroflex</string>
			<string>nmiddletilde</string>
			<string>phi-latin</string>
			<string>pmiddletilde</string>
			<string>ramshorn</string>
			<string>rfishhookmiddletilde</string>
			<string>rhookturned</string>
			<string>rlonglegturned</string>
			<string>rmiddletilde</string>
			<string>rturned</string>
			<string>shook</string>
			<string>smiddletilde</string>
			<string>tmiddletilde</string>
			<string>wturned</string>
			<string>yturned</string>
			<string>zcurl</string>
			<string>zmiddletilde</string>
			<string>zretroflexhook</string>
			<string>jmod</string>
			<string>lmod</string>
			<string>raiseddownarrowmod</string>
			<string>raiseduparrowmod</string>
			<string>gammamod-latin</string>
			<string>lowringmod</string>
			<string>tonebarextrahighmod</string>
			<string>tonebarextralowmod</string>
			<string>tonebarhighmod</string>
			<string>tonebarlowmod</string>
			<string>tonebarmidmod</string>
			<string>rhotichookmod</string>
			<string>dottedCircle</string>
			<string>lefttackbelowcomb</string>
			<string>righttackbelowcomb</string>
			<string>leftangleabovecomb</string>
			<string>ringhalfleftbelowcomb</string>
			<string>uptackbelowcomb</string>
			<string>downtackbelowcomb</string>
			<string>plusbelowcomb</string>
			<string>minusbelowcomb</string>
			<string>dieresisbelowcomb</string>
			<string>bridgebelowcomb</string>
			<string>caronbelowcomb</string>
			<string>ringhalfrightbelowcomb</string>
			<string>bridgeinvertedbelowcomb</string>
			<string>squarebelowcomb</string>
			<string>seagullbelowcomb</string>
			<string>xabovecomb</string>
			<string>doubleverticallinebelowcomb</string>
			<string>breveinverteddoublecomb</string>
			<string>acutegraveacutecomb</string>
			<string>graveacutegravecomb</string>
			<string>colontriangularhalfmod</string>
			<string>colontriangularmod</string>
			<string>glottalstopreversedmod</string>
			<string>verticallinelowmod</string>
		</array>
		<key>name</key>
		<string>GF_Phonetics_IPAStandard</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Asmall</string>
			<string>Esmall</string>
			<string>dcurl</string>
			<string>eshsquatreversed</string>
			<string>hturnedfishhook</string>
			<string>hturnedfishhookandtail</string>
			<string>lcurl</string>
			<string>ncurl</string>
			<string>rfishhookreversed</string>
			<string>tcurl</string>
			<string>Omegasmall</string>
		</array>
		<key>name</key>
		<string>GF_Phonetics_SinoExt</string>
	</dict>
	<dict>
		<key>list</key>
		<array/>
		<key>name</key>
		<string>GF_Phonetics_UPA</string>
	</dict>
</array>
</plist>
